Epi.Web/Service References/DataServiceClient/EWEDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22587/Epi.Web.ServiceHost/EWEDataService.svc?xsd=xsd2" namespace="http://www.yourcompany.com/types/" />
  <xs:import schemaLocation="http://localhost:22587/Epi.Web.ServiceHost/EWEDataService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.Message" />
  <xs:element name="GetSurveyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q1:SurveyInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.yourcompany.com/types/" minOccurs="0" name="GetSurveyInfoResult" nillable="true" type="q2:SurveyInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q3:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.yourcompany.com/types/" minOccurs="0" name="GetSurveyAnswerResult" nillable="true" type="q4:SurveyAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSurveyAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q5:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSurveyAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.yourcompany.com/types/" minOccurs="0" name="SetSurveyAnswerResult" nillable="true" type="q6:SurveyAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassCodeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q7:UserAuthenticationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassCodeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.yourcompany.com/types/" minOccurs="0" name="PassCodeLoginResult" nillable="true" type="q8:UserAuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPassCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q9:UserAuthenticationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPassCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.yourcompany.com/types/" minOccurs="0" name="SetPassCodeResult" nillable="true" type="q10:UserAuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q11:UserAuthenticationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.yourcompany.com/types/" minOccurs="0" name="GetAuthenticationResponseResult" nillable="true" type="q12:UserAuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q13:FormsInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.yourcompany.com/types/" minOccurs="0" name="GetFormsInfoResult" nillable="true" type="q14:FormsInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormResponseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q15:FormResponseInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormResponseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://www.yourcompany.com/types/" minOccurs="0" name="GetFormResponseInfoResult" nillable="true" type="q16:FormResponseInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormResponseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q17:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormResponseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://www.yourcompany.com/types/" minOccurs="0" name="GetFormResponseListResult" nillable="true" type="q18:SurveyAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q19:FormSettingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://www.yourcompany.com/types/" minOccurs="0" name="GetFormSettingsResult" nillable="true" type="q20:FormSettingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q21:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://www.yourcompany.com/types/" minOccurs="0" name="DeleteResponseResult" nillable="true" type="q22:SurveyAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q23:UserAuthenticationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://www.yourcompany.com/types/" minOccurs="0" name="UserLoginResult" nillable="true" type="q24:UserAuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://www.yourcompany.com/types/" minOccurs="0" name="request" nillable="true" type="q25:UserAuthenticationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://www.yourcompany.com/types/" minOccurs="0" name="GetUserResult" nillable="true" type="q26:UserAuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://www.yourcompany.com/types/" minOccurs="0" name="request" nillable="true" type="q27:UserAuthenticationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://www.yourcompany.com/types/" minOccurs="0" name="FormSettingReq" nillable="true" type="q28:FormSettingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://www.yourcompany.com/types/" minOccurs="0" name="SaveSettingsResult" nillable="true" type="q29:FormSettingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormChildInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://www.yourcompany.com/types/" minOccurs="0" name="SurveyInfoRequest" nillable="true" type="q30:SurveyInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormChildInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://www.yourcompany.com/types/" minOccurs="0" name="GetFormChildInfoResult" nillable="true" type="q31:SurveyInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormsHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://www.yourcompany.com/types/" minOccurs="0" name="FormsHierarchyRequest" nillable="true" type="q32:FormsHierarchyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormsHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://www.yourcompany.com/types/" minOccurs="0" name="GetFormsHierarchyResult" nillable="true" type="q33:FormsHierarchyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyAnswerHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q34:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyAnswerHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://www.yourcompany.com/types/" minOccurs="0" name="GetSurveyAnswerHierarchyResult" nillable="true" type="q35:SurveyAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAncestorResponseIdsByChildId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q36:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAncestorResponseIdsByChildIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://www.yourcompany.com/types/" minOccurs="0" name="GetAncestorResponseIdsByChildIdResult" nillable="true" type="q37:SurveyAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsesByRelatedFormId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q38:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsesByRelatedFormIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://www.yourcompany.com/types/" minOccurs="0" name="GetResponsesByRelatedFormIdResult" nillable="true" type="q39:SurveyAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://www.yourcompany.com/types/" minOccurs="0" name="OrgRequest" nillable="true" type="q40:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://www.yourcompany.com/types/" minOccurs="0" name="GetOrganizationsByUserIdResult" nillable="true" type="q41:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://www.yourcompany.com/types/" minOccurs="0" name="OrgRequest" nillable="true" type="q42:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://www.yourcompany.com/types/" minOccurs="0" name="GetUserOrganizationsResult" nillable="true" type="q43:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://www.yourcompany.com/types/" minOccurs="0" name="OrgRequest" nillable="true" type="q44:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://www.yourcompany.com/types/" minOccurs="0" name="GetAdminOrganizationsResult" nillable="true" type="q45:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://www.yourcompany.com/types/" minOccurs="0" name="OrgRequest" nillable="true" type="q46:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://www.yourcompany.com/types/" minOccurs="0" name="GetOrganizationInfoResult" nillable="true" type="q47:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://www.yourcompany.com/types/" minOccurs="0" name="request" nillable="true" type="q48:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://www.yourcompany.com/types/" minOccurs="0" name="SetOrganizationResult" nillable="true" type="q49:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://www.yourcompany.com/types/" minOccurs="0" name="request" nillable="true" type="q50:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://www.yourcompany.com/types/" minOccurs="0" name="GetOrganizationUsersResult" nillable="true" type="q51:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.Message" minOccurs="0" name="request" nillable="true" type="q52:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.Message" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q53:UserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.Message" minOccurs="0" name="request" nillable="true" type="q54:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.Message" minOccurs="0" name="SetUserInfoResult" nillable="true" type="q55:UserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://www.yourcompany.com/types/" minOccurs="0" name="Request" nillable="true" type="q56:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SurveyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasResponseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>